header {
  margin: 0 29% auto 29%;
  background-color: #3d0080;
  font-family: monospace;
  font-size: 34px;
  padding: 10px 0 10px 16px;
  color: #fff; }

form {
  margin: 0 29% auto 29%;
  border: 2px solid #00c4ff;
  padding: 40px; }
  form .form-group .required:after {
    content: " *";
    color: red; }
  form .alert-danger {
    margin-top: -15px; }

.modal-select-button {
  padding: 32px; }
  .modal-select-button button:first-child {
    margin-right: 40px; }

.modal-cancle-button {
  text-align: right;
  padding: 30px; }
